header {
    background-color: rgb(68, 68, 136);
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
h2{
    display: flex;
    justify-content: center;
    background-color: beige;
    padding: 10px;
}

.general {
  display: grid;
  grid-template-areas:
    "header"
    "titulo precio galeria"
    "pagination"
    "footer";
  /* grid-template-columns: 100px 1fr; */
  grid-template-rows: 100px 1fr;
  gap: 10px;
  box-sizing: border-box;
  }

.precio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 80px;
  border: 2px solid black;
  gap: 8px;
  margin: 0 auto;
}

.logo:hover{
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

.btn-menu:hover{
        scale: 1.2;
    }
footer{
    background-color: rgb(68, 68, 136);
    display: flex;
    justify-content: center;
}
.galeria {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}


.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .galeria {
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}
    .btn-menu{
    color: rgb(162, 5, 5);
}
    .general{
    display: grid;
    grid-template-areas:
    "header"
    "titulo"
    "precio galeria"
    "pagination"
    "footer";
    height: 100vh;
    grid-template-rows: 1fr;
}
.logo:hover{
    font-size:60px;
    border: 2px solid rgb(199, 222, 22);
}

}